<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application>
        <activity
            android:name=".ActivitySecond"
            android:exported="false" />
        <activity
            android:name=".ActivityFirst"
            android:exported="false" />
        <activity
            android:name=".ActivityFirstScreen"
            android:exported="false"
            android:theme="@style/Theme.Student" />
    </application>

</manifest>